body {
    font-family: 'Open Sans', sans-serif;
    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    line-height: 1.65em;
}

.header {
    background: rgba(71, 62, 95, 1);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71, 62, 95, 1)), color-stop(100%, rgba(42, 34, 64, 1)));
    background: linear-gradient(135deg, rgba(71, 62, 95, 1) 0%, rgba(42, 34, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#473e5f', endColorstr='#2a2240', GradientType=1);
    padding-top: 100px;
    padding-bottom: 225px;
    color: #fff;
}

.container {
    width: 1770px;
    margin: 0 auto;

}

.blok {
    display: flex;
    justify-content: space-between;
}

.offer {
    margin-top: 166px;
    width: 490px;
}

.titel {
    font-size: 36px;
}

.titel span {
    color: #48ed8e;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background: #ed9619;
    padding: 20px 0;
    border-radius: 100px;
    width: 205px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #d9860e;
}

.text {
    width: 380px;
    margin-top: 30px;
}

.code-desktop {
    margin-top: 73px;
}

ul {
    display: flex;
}

.heading {
    font-size: 30px;
}

.learn {
    padding-top: 108px;
    padding-bottom: 120px;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.skill {
    width: 350px;
    background: url(../img/icon1.jpg) no-repeat left top;
    padding-left: 100px;

}

.skill-two {
    width: 380px;
    background: url(../img/icon2.jpg) no-repeat left top;
    padding-left: 100px;


}

.skill-three {
    width: 350px;
    background: url(../img/icon3.jpg) no-repeat left top;
    padding-left: 100px;
}

.skill-titel {
    font-size: 18px;
}

.skill-text {
    margin-top: 7px;

}

.mail {
    background: #efecf4;
    padding-top: 173px;
    padding-bottom: 195px;
}

.form {
    margin-top: 40px;
}

.input {
    width: 474px;
    border-radius: 100px;
    border: 1px solid #bfb8d1;
    font-size: 15px;
    height: 54px;
    padding-left: 38px;
    font-family: 'Open Sans', sans-serif;
}

.btn-form {
    border: 0;
    cursor: pointer;
    display: inline;
    margin-left: 11px;
}

.footer {
    padding: 33px 0;
    background: #201b2d;
}

.credits {
    font-style: 14px;
    color: #d4cee3
}

@media screen and (max-width: 1400px) {
    .container {
        width: auto;
    }
}
    @media screen and (max-width: 1200px) {
        .container {
            width: auto;
        }
    }

    @media screen and (max-width: 992px) {
        .container {
            width: 100%;
        }

        .offer {
            width: 100%;
            display: block;
        }

        .blok {
            flex-direction: column;
        }

        .code-desktop {
            width: auto;
        }

        .titel {
            text-align: center;
        }

        .text {
            text-align: center;
            width: auto;
        }

        .btn {
            width: auto;
        }

        .heading {
            text-align: center;
        }

        .form {
            text-align: center;
        }

        .credits {
            text-align: center;
        }
    }

    @media screen and (max-width: 768px) {
        .offer {
            width: 100%;
            display: block;
        }

        .blok {
            flex-direction: column;
        }

        .code-desktop {
            width: auto;
        }

        .titel {
            text-align: center;
        }

        .text {
            text-align: center;
            width: auto;
        }

        .btn {
            width: auto;
        }

        .heading {
            text-align: center;
        }

        .form {
            text-align: center;
        }

        .credits {
            text-align: center;
        }

        .skills {
            flex-direction: column;
        }

        .btn-form {
            width: 100%;
            margin-left: 0;
        }

        .input {
            width: 100%;
            margin-left: 0;
        }
    }

    @media screen and (max-width: 576px) {
        .skills {
            flex-direction: column;
        }

        .skills {
            width: 100%;
        }

        .skill {
            width: 100%;
        }

        .skill-two {
            width: 100%;
        }

        .skill-three {
            width: 100%;
        }
    }